@import "./blocks/menu-icon.css";



font-family: 'Muli',
sans-serif;

body {

  font-family: 'Muli', sans-serif;
}


.block-example {

  /*padding: 15px;*/

}

/*..................................

NAV
................................... */


.nav-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media(min-width: 992px) {
  .row {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.logo {

  font-size: 22px;
  color: #041122;
  font-weight: 800;
  text-transform: uppercase;

}

.navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  list-style-type: none;
  background-color: rgba(0, 0, 0);
  margin: 0;
  padding: 0;
  color: #fff;
  z-index: 9;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in;
}


@media(min-width: 992px) {
  .navigation {
    display: flex;
    flex-direction: row;
    position: static;
    color: #000;
    width: auto;
    background-color: transparent;
    transform: none;
  }
}

.nav-list-holder {
  display: none;
  transition: opacity 0.2s ease-in;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 36, 99, 0.502);
  z-index: 9;
}

.nav-list-holder--visible {
  display: block;

}

@media(min-width: 992px) {
  .nav-list-holder {
    display: block;
    position: static;
    background-color: transparent;

  }
}


.nav-list-holder--visible .navigation {
  transform: translateX(0%);
}


.navigation__link {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 15px;
  border-bottom: 1px solid #313131;

}

@media(min-width: 992px) {
  .navigation__link {
    margin-right: 30px;
    padding: 0;
    border-bottom: none;
  }
}

.navigation__link:hover,
.navigation__link:active,
.navigation__link:focus {
  color: #f72464;
  text-decoration: none;
}


.cart {
  padding-top: 5px;
  color: #5E5E5E;
  position: relative;
  left: -30px;
}

.cart__number {
  width: 19px;
  height: 19px;
  background-color: #f72464;
  border-radius: 10px;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding-top: 1px;
  position: absolute;
  left: 9px;
  top: 20px;

}

/*..................................

HEADER
................................... */

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 700px;
  //background-color: #ABABAB;


}

.header .container {
  position: relative;
  /*max-width: 100%;*/
  height: 100%;
  display: flex;
  align-items: center;
}

@media(min-width: 992px) {
  .header .container {

    align-items: center;
  }
}

.header__bg {
  display: block;
  position: absolute;
  left: 20%;
  top: 0;
  height: 100%;
  width: 80%;
  background-color: #f9f9f9;
  background-image: url(../img/girl.jpg);
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;

}

@media(min-width: 992px) {
  .header__bg {
    display: block;
    position: absolute;
    left: 20%;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: #f9f9f9;
    background-image: url(../img/girl.jpg);
    background-repeat: no-repeat;
    background-position: left 70px top;
    z-index: -1;
  }
}

.header__content {
  max-width: 750px;
}

@media(min-width: 992px) {
  .header__content {}
}

.header__title {
  color: #222;
  font-size: 32px;
  font-family: 'Lora', serif;
  line-height: 1.25;
  margin-bottom: 25px;
}


@media(min-width: 992px) {
  .header__title {
    font-size: 78px;
  }
}

.header__description {
  max-width: 600px;
  color: #52575D;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

@media(min-width: 992px) {
  .header__description {
    font-size: 22px;
    margin-bottom: 50px;
  }
}




.header__button {
  background-color: #f72464;
  font-size: 16px;
  color: #FFF;
  font-family: 'Lora', serif;
  padding-left: 2.25em;
  padding-right: 2.25em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  line-height: 1;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0px 5px 30px 0px rgba(31, 37, 35, 0.3);
  text-decoration: none;
  transition: all 0.2s ease-in;

}

@media(min-width: 992px) {
  .header__button {
    font-size: 20px;
  }
}

.header__button:hover {

  background-color: #DA0F4D;
  text-decoration: none;
  box-shadow: 0px 5px 30px 0px rgba(31, 37, 35, 0.4);
  color: #FFF;
}


/*..................................

CONTENT
................................... */

.section {

  padding-top: 50px;
  padding-bottom: 50px;

}

@media(min-width: 540px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.title {
  font-size: 25px;
  color: #222;
  font-family: 'Lora', serif;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

@media(min-width: 540px) {
  .title {
    font-size: 35px;
  }
}

.subtitle {
  font-size: 12px;
  color: #919191;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}

.col-md-3 {
  margin: auto;
}

@media(min-width: 540px) {
  .subtitle {
    margin-bottom: 70px;
  }

  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card {
    margin-bottom: 25px;
  }

  .card__image img {
    width: 100%;
  }
}

@media(min-width: 872px) {
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.description {
  font-size: 15px;
  line-height: 1.667;
  text-align: center;
  margin-bottom: 40px;
}


.button-outline {
  border-color: rgb(247, 36, 100);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  height: 38px;
  font-size: 14px;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  color: rgb(145, 145, 145);
  line-height: 1;
  padding-top: 12px;
  width: 220px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: all 0.2s ease-in;


}

.button-outline:hover {
  border-color: rgb(247, 36, 100);
  background-color: rgb(247, 36, 100);
  color: #FFF;
  text-decoration: none;
}

/*..................................

CARDS
................................... */


.card {
  font-family: 'Lora', serif;
  text-align: center;
  margin-bottom: 50px;



}

.card__image {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;


}

.card__image img {
  max-width: 100%;
}




.card__title {
  color: #222;
  font-family: 'Lora', serif;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;


}

.card__price {

  font-size: 13px;
  color: #F72464;
  font-weight: 600;

}

.card__price span {
  color: #83888F;
  text-decoration: line-through;
  margin-right: 5px;
}

.card__hover {
  transition: all 0.2s ease-in;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card__image.hovered .card__hover {

  opacity: 1;

}


.card__hover:hover {
  opacity: 1;
}


.card__button {
  background-color: #f72464;
  font-size: 14px;
  color: #FFF;
  padding-top: 14px;
  width: 120px;
  line-height: 1;
  height: 40px;
  display: block;
  border-radius: 3px;
  box-shadow: 0px 5px 30px 0px rgba(31, 37, 35, 0.25);
  text-decoration: none;
  transition: all 0.2s ease-in;
  margin-bottom: 12px;

}

.card__button:hover {

  background-color: #DA0F4D;
  text-decoration: none;
  box-shadow: 0px 5px 30px 0px rgba(31, 37, 35, 0.4);
  color: #FFF;
}



/*..................................

ADV. BLOCKS
................................... */

.adv-content-center {

  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  ;
  height: 100%;

}


.adv-wrapper {
  height: 185px;
  background-color: #000;


}

.Adv-wrapper--bg-1 {
  background-image: url("../img/our products/Offer 2-5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.Adv-wrapper--bg-2 {
  background-image: url("../img/Cards/Brand 2-10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


.adv__title {
  font-size: 32px;
  font-family: 'Lora', serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 20px;

}

@media(min-width: 992px) {
  .adv__title {
    font-size: 32px;
    font-family: 'Lora', serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
  }

  .adv-content-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .adv__title {
    font-size: 60px;
  }

  .adv__button {
    padding: 15px 60px;
  }
}


.adv__button {
  font-family: 'Lora', serif;
  border-radius: 5px;
  background-color: rgb(247, 36, 100);
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.25);
  //height: 60px;
  line-height: 1;
  color: #FFF;
  font-size: 22px;
  padding: 15px 40px;
  text-decoration: none;
  transition: all 0.2s ease-in;

}

.adv__button:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #DA0F4D;

}

/*..................................

BLOG
................................... */

.blog {
  margin-bottom: 25px;

}

.row-gallery {
  display: flex;
  flex-wrap: wrap;
}

.row-image {
  width: 100%;
  margin-bottom: 20px;
}

.row-text {
  display: flex;
  flex-wrap: wrap;
}

.row-content {
  margin-bottom: 20px;
}

@media(min-width: 420px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .row-content {
    margin-bottom: 20px;
  }

}

@media(min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .row-content {
    display: flex;
    margin-bottom: 40px;
  }
}


.blog__title {
  font-size: 18px;
  font-family: 'Lora', serif;
  color: rgb(34, 34, 34);
  line-height: 1.667;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog__description {
  font-size: 15px;
  color: rgb(137, 137, 137);
  line-height: 1.667;
  margin-bottom: 10px;

}

.blog__read-mor {
  font-size: 15px;
  color: rgb(34, 34, 34);
  line-height: 1.2;
  font-weight: 600;
  font-family: 'Lora', serif;
  text-decoration: none;
}



.blog__read-mor:hover {
  text-decoration: none;
}







/*..................................

FOOTER
................................... */



.footer {
  background-color: #000;
  padding: 20px 0 25px;
  text-align: center;

}

.footer-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.footer-nav__link {
  font-size: 13px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 35px;
  cursor: pointer;

}

.footer-nav__link:last-child {

  margin-right: 0px;
}


.footer-nav__link:hover {

  color: #f72464;
  text-decoration: none;
}


.footer__social {

  margin-bottom: 20px;
  color: #fff;
  font-size: 22px;
}


.footer__social a {

  color: #FFF;
  text-decoration: none;
  margin-right: 25px;
}

.footer__social a:last-child {

  margin-right: 0px;
}




.footer__social a:hover {
  color: #f72464;
  text-decoration: none;
}



.footer__copyright {

  color: rgb(137, 137, 137);
  font-size: 12px;
}

.mb-100 {
  margin-bottom: 40px;
}

.mt-60 {
  margin-top: 20px;
}



/*..................................

SUBSCRIBE
................................... */


.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

}

.subscribe__input {
  font-size: 15px;
  color: #000;
  line-height: 1;
  text-align: left;
  border-width: 1;
  border-color: rgb(247, 36, 100);
  border-style: solid;
  border-radius: 3px;
  height: 48px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;

}

@media(min-width: 540px) {
  .subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

  }

  .subscribe__input {
    width: 248px;
    margin-right: 10px;
    height: 48px;
  }

  .subscribe__button {
    width: 120px;
    height: 40px;
  }

}

.subscribe__input:hover,
.subscribe__input:focus {
  border-color: #DA0F4D;
  outline: none;

}

.subscribe__button {
  background-color: #f72464;
  font-size: 15px;
  color: #FFF;
  /* width: 120px;*/
  line-height: 1;
  height: 48px;
  display: block;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.2s ease-in;
  margin-bottom: 12px;
  border: none;
  cursor: pointer;


}

.subscribe__button:hover,
.subscribe__button:focus {
  outline: none;
  background-color: #DA0F4D;
  text-decoration: none;
  box-shadow: 0px 5px 30px 0px rgba(31, 37, 35, 0.4);
  color: #FFF;
}

.subscribe__button:focus {
  outline: none;
  background-color: #98002e;
  text-decoration: none;
  box-shadow: 0px 5px 30px 0px rgba(31, 37, 35, 0.1);
  color: #FFF;

}

.btn-top {


  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  outline: none;
  cursor: pointer;
  background-color: #f72464;
  font-size: 15px;
  color: #FFF;
  width: 120px;
  line-height: 1;
  height: 40px;
  display: none;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.2s ease-in;
  margin-bottom: 12px;
  border: none;
}

.btn-top:hover {
  background-color: purple;
}
